<div class="container">
  <h1><%= @task.title %></h1>
  <h2><%= @task.details %></h2>
  <h3><%= @task.completed ? "completed" : "not complete" %></h3>
  <div> <%= link_to 'Edit task', edit_task_path(@task) %> </div>
  <div> <%= link_to 'Back to tasks list', tasks_path %> </div>
</div>
